.toggle-comment-button {
  position: absolute;
  right: 0;
  font-weight: bold;
  color: #aaa;
  font-style: italic;
}

button.light.toggle-comment-button {
  background-color: transparent;
}
.comment-section-prompt > label {
  margin-bottom: 10px;
}

.mail-section {
  overflow: hidden;
  white-space: pre-line;
  background: #ebeff3;
  border-radius: 3px;
}

.mail-section-content {
  margin: 0.5em 0.875em;
  position: relative;
}
.mail-section-content > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-section-head {
  margin: 0.5em 0.875em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--grey);
}

.comment-section-prompt .text-area-wrapper {
  padding: 0.5em 0.875em;
  background: #ebeff3;
}
