.panel > .login-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

@media (max-width: 550px) {
  .panel > .login-buttons {
    flex-direction: column;
  }
}

.login-buttons-or {
  margin: 1em;
}

.call-to-action {
  margin-bottom: 3em;
}

.next-steps {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 50px 0;
}
.next-steps > div {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--blue);
  font-weight: bold;
}
.next-steps > div.separator {
  width: 10px;
}
.next-steps svg {
  fill: var(--blue);
}
.next-steps .prepare > ul {
  padding: 10px;
  margin: 0;
}
