.panel > .login-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

@media (max-width: 550px) {
  .panel > .login-buttons {
    flex-direction: column;
  }
}

.login-buttons-or {
  margin: 1em;
}

.call-to-action {
  margin-bottom: 3em;
}
