{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["dotenv-import", {
          "moduleName": "@env",
          "path": ".env.test",
          "blacklist": null,
          "whitelist": null,
          "safe": false,
          "allowUndefined": false
        }],
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["dotenv-import", {
          "moduleName": "@env",
          "path": ".env",
          "blacklist": null,
          "whitelist": null,
          "safe": false,
          "allowUndefined": false
        }]
      ]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": [
        ["dotenv-import", {
          "moduleName": "@env",
          "path": ".env.test",
          "blacklist": null,
          "whitelist": null,
          "safe": false,
          "allowUndefined": false
        }]
      ]
    }
  }
}
