{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ]
      ]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": [
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
