.event-item {
  display: flex;
  flex-direction: row;
}

.event-icon {
  width: 3em;
  padding: 0.5em 0;
}

.event-content {
  flex: 1 100%;
  padding: 0.5em 0;
}

.event-item + .event-item > .event-content {
  border-top: 1px solid var(--light-grey);
}

.event-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-date {
  color: var(--dark-grey);
}

.event-comment {
  background-color: white;
  margin-top: 0.4em;
  white-space: pre-line;
  padding: 1em;
}

button.toogle-detail {
  font-size: var(--space-s);
  font-family: 'Source Sans Pro', Arial, sans-serif;
  border: 0;
  display: inline-block;
  background-color: #00000000;
  color: var(--theme-dark-text);
}

button.toogle-detail:focus {
  outline: 0;
}
