<div class="container enrollment-form">
  <div class="well service-provider-selection">
    <label>Sélectionnez le Fournisseur de Service France Connect pour lequel vous souhaitez un raccordement à l'API Impôts Particulier</label>
    <select class="form-control" [(ngModel)]="enrollment.serviceProvider">
      <option *ngIf="enrollment.serviceProvider.name" [ngValue]="enrollment.serviceProvider" selected>
      {{ enrollment.serviceProvider.name }}
      </option>
      <option *ngFor="let serviceProvider of serviceProviders" [ngValue]="serviceProvider">
      {{ serviceProvider.name }}
      </option>
    </select>
  </div>
  <div class="enrollment-form" *ngIf="enrollment.serviceProvider.name">
    <div class="well service-description">
      <h4>Description de votre service</h4>
      <div class="form-group">
        <label>Décrivez brièvement votre service ainsi que l’utilisation prévue des données transmises par l’API Impôt Particulier :</label>
        <input type="text" class="form-control" [(ngModel)]="enrollment.serviceDescription.main">
      </div>
      <div class="form-group">
        <label>Quelle est la date estimée de mise en production de votre branchement à l’API ?</label>
        <input type="date" class="form-control" [(ngModel)]="enrollment.serviceDescription.deploymentDate">
      </div>
      <div class="form-group">
        <label>Quelle serait la saisonnalité de vos appels à l’API ?</label>
        <app-seasonality-slot *ngFor="let slot of enrollment.serviceDescription.seasonality" [slot]="slot">
        </app-seasonality-slot>
        <button class="btn btn-default btn-block" (click)="addSeasonalitySlot()">Ajouter une période</button>
      </div>
    </div>
    <div class="legal-basis well">
      <h4>Veuillez transmettre le fondement juridique sur lequel s'appuie votre demande d'utilisation des données DGFIP</h4>
      <div class="legal-basis-form">
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]="enrollment.legalBasis.comment" placeholder="Rédigez un commentaire">
          </textarea>
        </div>
      </div>
    </div>
    <div class="well scope-selection">
      <div class="row">
        <div class="col-md-6">
          <div class="well scope-selection-form">
            <h4>Quelles sont les données que vous souhaitez exploiter ?</h4>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.numberOfTaxShares">
                  RFR et nombre de parts fiscales
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.taxAddress">
                  Adresse fiscale de taxation à l'IR
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.nonWadgeIncome">
                  Revenus non salariaux
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.familySituation">
                  Situation de la famille et détail du nombre de personnes à charge
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.supportPayments">
                  Montant des pensions alimentaires reçues
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.deficit">
                  Existance de déficit sur l'année de revenus
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.housingTax">
                  Données de taxe d'habitation principale
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.totalGrossIncome">
                  Revenu Brut Global / Déficit Brut Global
                </label>
              </div>
            </div>
            <div class="checkbox">
              <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
                <label>
                  <input type="checkbox" [(ngModel)]="enrollment.scopes.worldIncome">
                  Montant des revenus mondiaux
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h4>Avertissement</h4>
            <ul>
              <li>Ne sélectionnez que les données strictement nécessaires à votre service</li>
              <li>L’autorisation de la CNIL pourrait être bloquée en cas de recueil de données superflues</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="well agreement">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="enrollment.agreement">
          En cochant cette case, je certifie que les informations saisies, notamment le fondement juridique indiqué, sont correctes. Je m’engage à exploiter les données DGFIP dans le cadre réglementaire adapté. Je m’engage à fournir les résultats de l’homologation de mon service selon le référentiel RGS dans un délai de ---.
        </label>
      </div>
    </div>
    <div class="well submit">
      <button class="btn btn-block btn-primary" (click)="submit()">Envoyer le dossier</button>
      <div class="alert alert-danger" *ngIf="errors">
        <ul>
          <li *ngFor="let field of keys(errors)">{{ errors[field] }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
