<div class="container login">
  <div class="well">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="text-center">
        <a (click)="auth.franceConnectLogin()">Se connecter à France Connect</a>
        </p>
        <p class="text-center">
        <a (click)="auth.resourceProviderLogin()">Se connecter à DGFIP</a>
        </p>
        <div class="alert alert-danger text-center" *ngIf="user.error">
          {{ user.error.message }}
        </div>
      </div>
    </div>
  </div>
</div>
