.enrollment {
  width: 100%;
  box-shadow: 0 1px 4px 0 #C9D3DF;
  background-color: var(--white);
}

.enrollment-header {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid var(--light-grey);
}

.enrollment-header .fs {
  font-size: 1.25em;
  font-weight: 600;
  width: 80%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.intitule {
  font-weight: 600;
  font-size: large;
}

.enrollment-body {
  padding: 1em;
}

.enrollment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.tag {
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 8px;
  color: var(--white);
}

.tag.pending-tag {
  background-color: var(--light-grey);
  color: var(--black);
}

.tag.sent-tag {
  background-color: var(--light-blue);
}

.tag.validated-tag {
  background-color: var(--green);
}

.tag.modification_pending-tag {
  background-color: var(--orange);
}

.tag.refused-tag {
  background-color: var(--red);
}
