.enrollment-page .container {
  max-width: inherit;
}

.enrollment-page .status-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.rt-tr .selected {
  background: rgba(0,0,0,0.08);
}

@media (min-width: 550px) {
  .enrollment-page .container {
    width: inherit;
  }
}

@media (min-width: 400px) {
  .enrollment-page .container {
    width: inherit;
  }
}
