.enrollment-page .container {
  max-width: inherit;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 550px) {
  .enrollment-page .container {
    width: inherit;
  }
}

@media (min-width: 400px) {
  .enrollment-page .container {
    width: inherit;
  }
}
