<div class="enrollment container">
  <div class="well">
    <app-enrollments-table [enrollments]="[enrollment]">
    </app-enrollments-table>
  </div>
  <button *ngIf="enrollment.acl.completeApplication" class="btn btn-block btn-primary" [routerLink]="'edit'">Modifier</button>
  <app-messages [enrollment]="enrollment">
  </app-messages>
  <div class="enrollment" *ngIf="enrollment.serviceProvider">
    <div class="well scopes">
      <h4>Données exploitées</h4>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.numberOfTaxShares">
            RFR et nombre de parts fiscales
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.taxAddress">
            Adresse fiscale de taxation à l'IR
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.nonWadgeIncome">
            Revenus non salariaux
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.familySituation">
            Situation de la famille et détail du nombre de personnes à charge
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.supportPayments">
            Montant des pensions alimentaires reçues
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.deficit">
            Existance de déficit sur l'année de revenus
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.housingTax">
            Données de taxe d'habitation principale
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.totalGrossIncome">
            Revenu Brut Global / Déficit Brut Global
          </label>
        </div>
      </div>
      <div class="checkbox">
        <div [popoverOnHover]="true" popoverPlacement="right" popover="some text">
          <label>
            <input disabled type="checkbox" [(ngModel)]="enrollment.scopes.worldIncome">
            Montant des revenus mondiaux
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="legal-basis well">
    <h4>Veuillez transmettre le fondement juridique sur lequel s'appuie votre demande d'utilisation des données DGFIP</h4>
    <p>{{ enrollment.legalBasis.comment }}</p>
  </div>
  <div class="well service-description">
    <h4>Description de votre service</h4>
    <div class="form-group">
      <label>Décrivez brièvement votre service ainsi que l’utilisation prévue des données transmises par l’API Impôt Particulier :</label>
      <p>{{ enrollment.serviceDescription.main }}</p>
    </div>
    <div class="form-group">
      <label>Quelle est la date estimée de mise en production de votre branchement à l’API ?</label>
      <p>{{ enrollment.serviceDescription.deploymentDate }}</p>
    </div>
    <div class="form-group">
      <label>Quelle serait la saisonnalité de vos appels à l’API ?</label>
      <p>{{ enrollment.serviceDescription.seasonality }}</p>
    </div>
    <div class="form-group">
      <label>Quels serait le nombre maximal d’appel en une heure (en cas de pic) ?</label>
      <p>{{ enrollment.serviceDescription.maxCharge }}</p>
    </div>
  </div>
  <div class="well documents">
    <h4>Documents officiels</h4>
    <div class="row">
      <div class="col-md-4">
        <h4 *ngIf="enrollment.cnilVoucher()">
          <a target="_blank" href="http://localhost:3000{{enrollment.cnilVoucher().attachment.url}}"><i class="glyphicon glyphicon-file"></i></a>
        </h4>
        <label>Télécharger le récipicé CNIL</label>
        <input type="file" name="Document::CNILVoucher" (change)="upload($event)">
      </div>
      <div class="col-md-4">
        <h4 *ngIf="enrollment.certificationResults()">
          <a target="_blank" href="http://localhost:3000{{enrollment.certificationResults().attachment.url}}"><i class="glyphicon glyphicon-file"></i></a>
        </h4>
        <label>Télécharger les résultats d'homologation</label>
        <input type="file" name="Document::CertificationResults" (change)="upload($event)">
      </div>
      <div class="col-md-4">
        <h4 *ngIf="enrollment.franceConnectCompliance()">
          <a target="_blank" href="http://localhost:3000{{enrollment.franceConnectCompliance().attachment.url}}"><i class="glyphicon glyphicon-file"></i></a>
        </h4>
        <label>Déclaration CNIL de conformité France Connect</label>
        <input type="file" name="Document::FranceConnectCompliance" (change)="upload($event)">
      </div>
    </div>
  </div>
  <div class="well convention" *ngIf="enrollment.acl.convention">
    <h4>Convention</h4>
    <div class="text-center">
      <a target="_blank" href="{{enrollment.conventionUrl()}}"><i class="glyphicon glyphicon-file"></i></a>
    </div>
  </div>
  <div class="applicant well" *ngIf="enrollment.acl.signConvention">
    <h4>Signataire de la convention</h4>
    <div class="form-group">
      <label>Nom</label>
      <input type="text" [(ngModel)]="enrollment.applicant.lastname" class="form-control">
    </div>
    <div class="form-group">
      <label>Prénom</label>
      <input type="text" [(ngModel)]="enrollment.applicant.firstname" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="enrollment.applicant.email" class="form-control">
    </div>
    <div class="form-group">
      <label>Fonction</label>
      <input type="text" [(ngModel)]="enrollment.applicant.position" class="form-control">
    </div>
    <div class="form-group">
      <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="enrollment.applicant.agreement">
        J’accepte la convention d’adhésion ci-contre. J’ai mené des tests unitaires avant de passer en production.
      </label>
      </div>
    </div>
    <button class="btn btn-primary btn-block" (click)="enrollmentService.save(enrollment)">Envoyer la demande</button>
  </div>
  <div class="applicant well" *ngIf="enrollment.acl.convention && !enrollment.acl.signConvention">
    <h4>Signataire de la convention</h4>
    <div class="form-group">
      <label>Nom</label>
      {{ enrollment.applicant.lastname }}
    </div>
    <div class="form-group">
      <label>Prénom</label>
      {{ enrollment.applicant.firstname }}
    </div>
    <div class="form-group">
      <label>Email</label>
      {{ enrollment.applicant.email }}
    </div>
    <div class="form-group">
      <label>Fonction</label>
      {{ enrollment.applicant.position }}
    </div>
  </div>
  <div class="error-message" *ngIf="enrollment.errors">
    <div class="alert alert-danger">
      <ul>
        <li *ngFor="let field of keys(enrollment.errors)">
          <ul>
            <li *ngFor="let error of enrollment.errors[field]">{{ error }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="success-message" *ngIf="enrollment.acl.completeApplication">
    <div class="alert alert-success">
      <p><strong>Votre dossier a été transmis et est cours d’étude par l’équipe DINSIC – FranceConnect.</strong> Vous trouverez ci-dessous le récapitulatif de votre demande, que vous pouvez modifier tant que votre dossier n’a pas été validé.</p>
      <p><strong>Après étude du dossier, votre accès à l’API sera validé lorsque vous aurez transmis les éléments suivants (en bas de page)</strong> : récépissé CNIL et résultats d’homologation de votre Fournisseur de Services. Vous recevrez alors une convention d’adhésion établie par la DGFIP à retourner signée sur cette plateforme.</p>
      <p><strong>Vous pouvez d’ores et déjà procéder au développement en intégration</strong> pour vous raccorder à l’API Impôt Particulier. Pour cela, vous pouvez : </p>
      <ul>
        <li>Vous référer à la documentation technique pour vous raccorder à un Fournisseur de Données (FD) sur le Portail Partenaires FranceConnect,</li>
        <li>Utiliser les bouchons Impôt Particulier et créer vos propres jeux de données afin de simuler de comptes utilisateurs.</li>
      </ul>
    </div>
  </div>
</div>
