.file-input {
  display: flex;
}

.file-input .button,
.file-input .button:focus,
.file-input .button:hover {
  background: #e8e8e8;
  outline: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.file-input .button:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button.download-button,
.button.download-button:focus,
.button.download-button:hover {
  color: var(--theme-primary);
  font-weight: bold;
  max-width: 300px;
}

@media (max-width: 399px) {
  .file-input .button {
    width: inherit;
  }
}

.download-button-icon {
  display: flex;
  margin: 0 0.2em;
}

.download-button-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button.replace-file-button,
.button.replace-file-button:focus,
.button.replace-file-button:hover {
  color: #3f454a;
  margin-left: 0;
  padding: var(--space-xs) var(--space-xs);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
