.organization-title {
  font-weight: bold;
}

.organization-subtitle {
  color: var(--darker-grey);
}

button.light.inline-icon-button {
  padding: 0 0.8em;
  vertical-align: bottom;
}

button.light.inline-icon-button svg {
  height: 1.5em;
}
