<div class="container subscription">
  <app-public-mission-form>
  </app-public-mission-form>
  <div class="is-public-mission-fail well" *ngIf="showPublicMissionFail()">
    <p>
    Nunc laoreet, ante quis imperdiet aliquet, tortor lectus elementum lectus, et consequat nunc odio id justo. Sed ex ante, iaculis eu sapien eu, sodales cursus urna. Pellentesque ac justo purus. Vivamus rhoncus magna ut leo dictum laoreet. Duis vehicula ut enim in bibendum. Vivamus finibus auctor ornare. Morbi at pulvinar diam. Etiam a nulla at orci tempus tincidunt. Duis efficitur porttitor dolor nec cursus. Aliquam id tincidunt sapien. Mauris tristique, sem non pharetra semper, leo mauris cursus risus, non aliquam mi sem vel nisi. Maecenas non faucibus mi, vitae laoreet sem. Sed ullamcorper bibendum bibendum. Pellentesque libero sapien, sagittis at arcu vel, dapibus maximus metus. Quisque urna risus, ornare vitae tristique a, tristique sit amet neque. Maecenas non massa vel nibh fringilla tincidunt.
    </p>
  </div>
  <app-france-connected-form *ngIf="showFranceConnectedForm()">
  </app-france-connected-form>
  <div class="is-france-connected-fail well" *ngIf="showFranceConnectedFail()">
    <p>
    Nunc laoreet, ante quis imperdiet aliquet, tortor lectus elementum lectus, et consequat nunc odio id justo. Sed ex ante, iaculis eu sapien eu, sodales cursus urna. Pellentesque ac justo purus. Vivamus rhoncus magna ut leo dictum laoreet. Duis vehicula ut enim in bibendum. Vivamus finibus auctor ornare. Morbi at pulvinar diam. Etiam a nulla at orci tempus tincidunt. Duis efficitur porttitor dolor nec cursus. Aliquam id tincidunt sapien. Mauris tristique, sem non pharetra semper, leo mauris cursus risus, non aliquam mi sem vel nisi. Maecenas non faucibus mi, vitae laoreet sem. Sed ullamcorper bibendum bibendum. Pellentesque libero sapien, sagittis at arcu vel, dapibus maximus metus. Quisque urna risus, ornare vitae tristique a, tristique sit amet neque. Maecenas non massa vel nibh fringilla tincidunt.
    </p>
  </div>
  <div class="well" *ngIf="showFranceConnectLoginForm()">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="text-center">
        <a (click)="auth.franceConnectLogin()">Se connecter à France Connect</a>
        </p>
      </div>
    </div>
  </div>
</div>
