.enrollment {
  width: 100%;
  background-color: var(--white);
}

.enrollment-header {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid var(--light-grey);
}

.enrollment-header .fs {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 600;
}

.enrollment-header .fs img {
  height: 40px;
  margin: 0 0.5em;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.intitule {
  font-weight: 600;
  font-size: large;
  margin-right: 1em;
}

.creation {
  font-size: small;
}

.description {
  font-style: italic;
}

.enrollment-body {
  padding: 1em;
}

.enrollment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.pending {
  background-color: var(--light-grey);
  color: var(--black);
}

.sent {
  background: #0762c8;
  color: var(--white);
}

.validated {
  background: #008941;
  color: var(--white);
}

.modification_pending {
  background: #ff6f4c;
  color: var(--white);
}

.refused {
  background: #e10600;
  color: var(--white);
}

/* custom section for new form */
.enrollmentaction {
  display: flex;
  flex-direction: column;
}

.enrollmentaction p {
  margin: 0 0 0.5rem 0;
}
.actionlist {
  display: flex;
  flex-direction: row;
}

.actionlist a {
  box-shadow: none;
}
