@font-face {
  font-family: "Source Sans Pro";
  src: url("static/fonts/Source Sans Pro/SourceSansPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("static/fonts/Source Sans Pro/SourceSansPro-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("static/fonts/Source Sans Pro/SourceSansPro-It.otf");
  font-style: italic;
}

@font-face {
  font-family: "Evolventa";
  src: url("static/fonts/Evolventa/Evolventa-Bold.ttf");
  font-weight: 800;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
	padding-left: 16px;
	padding-right: 16px;
	max-width: 1072px;
	margin: 0 auto;
}

$services-breakpoint: 950px;

.services {
	@extend %horizontal-list;
	justify-content: space-between;
	width: 100%;

	&:first-of-type {
		margin-bottom: 45px;
	}

	@media (max-width: $services-breakpoint) {
		justify-content: space-around;

		&:first-of-type {
			margin-bottom: 0;
		}
	}
}

.service {
	@extend %horizontal-list-item;
	width: 170px;

	&:hover {
		opacity: 0.6;
	}

	@media (max-width: $services-breakpoint) {
		margin: 0 15px 15px;
	}
}

.service-image {
	width: 170px;
}

.tag-darker-grey {
  background: #53657d;
  border-radius: 3px;
  display: inline-block;
  padding: 0.3em 0.8em;
  margin-right: 0.5em;
  color: #fff;
}

.table-fc th {
  border-bottom: 0.5px solid #53657d;
  padding: 10px 13px;
}

.table-fc td {
  border-bottom: 0.5px solid #53657d;
  padding: 10px 13px;
}

.panel__actions {
  display: flex;
  justify-content: flex-end;
}

.panel__actions a.button,
.panel__actions a.button:active,
.panel__actions a.button:focus,
.panel__actions a.button:visited,
.panel__actions button.button,
.panel__actions button.button:active,
.panel__actions button.button:focus,
.panel__actions button.button:visited {
    margin-left: 5px;
    margin-right: 0;
}

.button.button-secondary,
a.button.button-secondary,
.button.button-secondary:focus,
a.button.button-secondary:focus {
  background: #e8e8e8;
  color: #3f454a;
  border-bottom-color: #bdbdbd;
}

.button.button-secondary:hover,
a.button.button-secondary:hover {
  background-color: #bdbdbd;
}

.main-pane form {
  max-width: 100%;
}

.information-text {
  background-color: #ebeff3;
  border-left: 8px solid #c9d3df;
  padding: 4px 0 4px 25px;
  margin-bottom: 2em;
}

fieldset div {
  margin: 0.5em 0 0.5em 1em;
}

form label {
  font-weight: bold;
}

.button-list {
  margin: 3em 0;
  text-align: right;
}
.button + .button {
  margin-left: 1em;
}

.panel .panel__footer {
  margin-top: 2em;
  background-color: #e8e8e8;
}

iframe {
	margin-bottom: 2em;
}

.section__subtitle {
  text-align: justify;
}

.section__title + .section__subtitle {
  margin-top: -2em;
}

.section__subsection .section__title {
  text-align: center;
}

.section__subtitle em {
  font-weight: bold;
}

.section__subtitle a {
  color: darkgrey;
  text-decoration: underline;
  text-align: right;
  margin-top: 1em;
  display: block;
}

section + section {
  padding-top: 0;
}

ul.panel-list {
  padding: 0;
}

li.panel {
	list-style: none;
  padding: 1em;
}

li.panel .button-list {
  margin: 0.5em 0;
}

.date_input_row {
	display: flex;
	flex-wrap: wrap;
  margin: 0 -5px;
  justify-content: space-between;
}

.date_input_col {
	min-width: 75px;
	max-width: calc(100% / 6 - 10px);
  margin: 0 5px;
}

.card-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  min-width: calc(50% - 2em);
  max-width: calc(50% - 2em);
  margin-bottom: 1em;
}

.card + .card {
  margin-left: 0;
}

.scope__destinataire {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

.scope__checkbox:checked ~ .scope__destinataire {
  max-height: 100px;
}
