<table class="table table-bordered table-hover" [mfData]="enrollments" [mfSortBy]="'createdAt'" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="serviceProvider.name">Fournisseur de service</mfDefaultSorter>
      </th>
      <th> Demande complète </th>
      <th> Demande approuvée </th>
      <th> Convention signée </th>
      <th> Mis en production </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>
        <a [routerLink]="['/enrolements', item.id]">{{item.serviceProvider.name}}</a>
      </td>
      <td class="state text-center">
        <span class="glyphicon glyphicon-ok" *ngIf="item.isStateCompleted('waiting_for_approval')"></span>
        <span class="glyphicon glyphicon-remove" *ngIf="!item.isStateCompleted('waiting_for_approval')"></span>
      </td>
      <td class="state text-center">
        <span class="glyphicon glyphicon-ok" *ngIf="item.isStateCompleted('application_approved')"></span>
        <span class="glyphicon glyphicon-remove" *ngIf="!item.isStateCompleted('application_approved')"></span>
        <div>
          <div class="btn-group">
            <button class="btn btn-success" *ngIf="item.acl.approveApplication" (click)="enrollmentService.trigger(item, 'approve_application')">Approuver</button>
            <button class="btn btn-danger" *ngIf="item.acl.refuseApplication" (click)="enrollmentService.trigger(item, 'refuse_application')">Refuser</button>
          </div>
        </div>
      </td>
      <td class="state text-center">
        <span class="glyphicon glyphicon-ok" *ngIf="item.isStateCompleted('application_ready')"></span>
        <span class="glyphicon glyphicon-remove" *ngIf="!item.isStateCompleted('application_ready')"></span>
      </td>
      <td class="state text-center">
        <div>
          <span class="glyphicon glyphicon-ok" *ngIf="item.isStateCompleted('deployed')"></span>
          <span class="glyphicon glyphicon-remove" *ngIf="!item.isStateCompleted('deployed')"></span>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" *ngIf="item.acl.deploy" (click)="enrollmentService.trigger(item, 'deploy')">Application déployée</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>
