.footer__links_header {
  line-height: 1.25em;
  font-size: 1.75em;
  font-weight: bold;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: var(--space-xs);
}
