/* Source https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border: 7px solid #c9d3df;
  border-radius: 50%;
  border-top-color: #53657d;
  animation: spinner 1s linear infinite;
}

.spinner.inline {
  padding-left: 0.5em;
}

.spinner.inline:before {
  width: 1.25em;
  height: 1.25em;
  margin-top: 0;
  margin-left: 0;
  border-width: 3px;
}
