.notification {
  white-space: pre-line;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  position: relative;
  flex-grow: 1;
}

section.enrollment-page {
  padding: 1em 0;
}

section.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1072px;
  margin: 0 auto;
}

.button.button-secondary,
a.button.button-secondary,
.button.button-secondary:focus,
a.button.button-secondary:focus {
  background: #e8e8e8;
  color: #3f454a;
  border-bottom-color: #bdbdbd;
}

.button.button-secondary:hover,
a.button.button-secondary:hover {
  background-color: #bdbdbd;
}

.form {
  max-width: 520px;
  margin: 0 auto;
}

.main-pane .form {
  max-width: 100%;
}

.information-text {
  background-color: #ebeff3;
  border-left: 8px solid #c9d3df;
  padding: 4px 0 4px 25px;
  margin-bottom: 2em;
}

fieldset div {
  margin: 0.5em 0 0.5em 1em;
}

.form label {
  font-weight: bold;
}

textarea:disabled {
  background-color: #ebeff3;
}

.button-list {
  margin: 3em 0;
  text-align: right;
}

.button + .button {
  margin-left: 1em;
}

.panel .panel__footer {
  margin-top: 2em;
  background-color: #e8e8e8;
}

section + section {
  padding-top: 0;
}

ul.panel-list {
  padding: 0;
}

li.panel {
  list-style: none;
  padding: 1em;
}

li.panel .button-list {
  margin: 0.5em 0;
}

.date_input_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  justify-content: space-between;
}

.date_input_col {
  min-width: 75px;
  max-width: calc(100% / 6 - 10px);
  margin: 0 5px;
}

.card-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  min-width: calc(50% - 2em);
  max-width: calc(50% - 2em);
  margin-bottom: 1em;
}

.card + .card {
  margin-left: 0;
}

.scope__destinataire {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.scope__checkbox:checked ~ .scope__destinataire {
  max-height: 100px;
}

.side-pane__menu a {
  text-decoration: none;
}

.active_link {
  background: #c9d3df;
  color: #1c1c1c;
}

@media (max-width: 400px) {
  .container {
    width: 95%;
    padding: 0;
  }
  .panel {
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 95%;
  }
  .panel {
    padding: 1em;
  }
}
