.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative;
  flex-grow: 1;
}

section.enrollment-page {
  padding: 2em 0 1em 0;
}

section.loader,
div.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6em auto;
}

@media (min-width: 1000px) {
  section.loader,
  div.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1072px;
  margin: 0 auto;
}

.button.button-secondary,
a.button.button-secondary,
.button.button-secondary:focus,
a.button.button-secondary:focus {
  background: #e8e8e8;
  color: #3f454a;
  border-bottom-color: #bdbdbd;
}

.button.button-secondary:hover,
a.button.button-secondary:hover {
  background-color: #bdbdbd;
}

.form {
  max-width: 520px;
  margin: 0 auto;
}

.main-pane .form {
  max-width: 100%;
}

fieldset div {
  margin: 0.5em 0 0.5em 1em;
}

.form label {
  font-weight: bold;
}

textarea:disabled {
  background-color: #ebeff3;
}

input[type='tel']::placeholder {
  color: #c9d3df;
}

.button-list {
  margin: 3em 0;
  text-align: center;
}

.button + .button {
  margin-left: 1em;
}

.panel .panel__footer {
  margin-top: 2em;
  background-color: #e8e8e8;
}

section + section {
  padding-top: 0;
}

ul.panel-list {
  padding: 0;
}

li.panel {
  list-style: none;
  padding: 1em;
}

li.panel .button-list {
  margin: 0.5em 0;
}

.date_input_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  justify-content: space-between;
}

.date_input_col {
  min-width: 75px;
  max-width: calc(100% / 6 - 10px);
  margin: 0 5px;
}

.side-pane__menu a {
  text-decoration: none;
}

.active_link {
  background: #c9d3df;
  color: #1c1c1c;
}

.nav__item .active_link:hover {
  background: #c9d3df;
  color: #1c1c1c;
}

.nav__links .nav__item {
  line-height: 2em;
}

.enrollment.button-list {
  display: flex;
  justify-content: flex-end;
}

.enrollment.button {
  min-width: 20%;
  max-width: 40%;
}

@media (max-width: 1300px) {
  .row {
    flex-direction: column;
  }

  .row > .card {
    margin: 0;
  }

  .row > .card + .card {
    margin-top: 2em;
  }

  /*
  cards and columns overlap on small screen on IE11.
  https://makandracards.com/makandra/54644-do-not-use-flex-1-or-flex-basis-0-inside-flex-direction-column-when-you-need-to-support-ie11
  */
  .row > .column {
    flex: 1 1 auto;
  }
  .row > .card {
    flex: 1 1 auto;
  }
}

@media (max-width: 550px) {
  .main-pane {
    padding: 5%;
  }
  .container {
    width: 95%;
    padding: 0;
  }
  .panel {
    padding: 0;
  }
  .nav__item {
    text-align: center;
    display: flex;
  }
  .card {
    -webkit-box-shadow: none;
  }
  .card__content {
    padding: 0;
  }
  .enrollment.button-list {
    flex-direction: column;
    align-items: center;
  }
  .enrollment.button {
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 1em;
    padding: 1em 2em;
  }
  .enrollment.button + .enrollment.button {
    margin-left: 0;
  }
}

input[type='checkbox'][disabled]:checked {
  background-color: var(--darker-grey);
  border-color: var(--darker-grey);
  cursor: not-allowed;
}

input[type='checkbox'][disabled] {
  cursor: not-allowed;
}

/* fixes on template.beta.gouv stylesheet */
/* fix: tooltip is being cropped */
.card {
  overflow: inherit;
}

/* fix: panel spacing */
.panel + .panel {
  margin-top: var(--space-m);
}

/* fix: panel spacing on small screens */
@media (max-width: 550px) {
  .dashboard .main {
    padding: 0;
  }
  .panel {
    padding: var(--space-l);
  }
}

/*fix: select makes container to grow*/
select {
  width: 100%;
}

/* light button & link */
button.light,
a.light {
  display: inline-block;
  margin: 0;
  padding: 0.4em 0.8em;
  border: none;
  color: var(--theme-dark-text);
  background: var(--white);
  border-radius: 3px;
}

button.light:hover,
a.light:hover {
  background: var(--lighter-grey);
}

button.light:focus {
  outline: 0;
}

a.light {
  text-decoration: none;
}
