<div class="container home">
  <div class="jumbotron">
    <h1>
      Contractualisation API impôts Particulier
    </h1>
  </div>
  <div class="well well-lg">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh lectus, sodales et tincidunt at, maximus id tellus. Sed consequat velit eget lacus ultrices, sit amet dignissim justo rhoncus. Vestibulum auctor pellentesque fringilla. Vestibulum malesuada sed orci in sodales. Aenean vitae urna mauris. Vivamus pharetra porttitor risus, a porta nisl porta vel. Proin ex velit, maximus id ex in, consequat bibendum dui.
    </p>
    <p>
    Nunc laoreet, ante quis imperdiet aliquet, tortor lectus elementum lectus, et consequat nunc odio id justo. Sed ex ante, iaculis eu sapien eu, sodales cursus urna. Pellentesque ac justo purus. Vivamus rhoncus magna ut leo dictum laoreet. Duis vehicula ut enim in bibendum. Vivamus finibus auctor ornare. Morbi at pulvinar diam. Etiam a nulla at orci tempus tincidunt. Duis efficitur porttitor dolor nec cursus. Aliquam id tincidunt sapien. Mauris tristique, sem non pharetra semper, leo mauris cursus risus, non aliquam mi sem vel nisi. Maecenas non faucibus mi, vitae laoreet sem. Sed ullamcorper bibendum bibendum. Pellentesque libero sapien, sagittis at arcu vel, dapibus maximus metus. Quisque urna risus, ornare vitae tristique a, tristique sit amet neque. Maecenas non massa vel nibh fringilla tincidunt.
    </p>
    <button routerLink="/souscription" class="btn btn-default btn-block">Commencer</button>
  </div>
</div>
